/target
Cargo.lock
**/*.rs.bk


kmod/*.o
kmod/*.ko
kmod/*.mod
kmod/*.mod.c
kmod/*.mod.o
kmod/.*.cmd
kmod/.tmp_versions/
kmod/modules.order
kmod/Module.symvers


kmod/compile_commands.json
.vscode/
.zed/
*.swp
*.swo
